
data/

.DS_Store

bin/\+vasplib_tool_outer/tensor_toolbox-v3.2.1/

*.mp4

example/example01-1-bandplot/vasp_soc/plot_results/



*.png

example/example00-5-tex2markdown/CreateAPresentationProgrammaticallyExample.mlx

example/example07-3-sktb_fit_HR_class/TBFIT-Graphene/GrapheneTB_1nn_for_Bayes.mlx

example/example07-3-SKTB/TBFIT-SKTB-Smat/POSCAR_SW40.vesta

*.pdf

example/example00-4-mex_fortran/

example/example00-6-mlx2md/

example/example13-5-WindingNumber/GDY/wannier90_hr.dat

lib/f2matlab/

example/example07-5-ParityTB/TBG/lda_hr.dat

*.zip

*.sp

example/example18-Hckt/QTI_OPEN/Hckt.lib

example/example18-Hckt/HR2Hckt/Hckt.lib

example/example18-Hckt/SSH/log

example/example18-Hckt/SSH/Hckt.lib
